@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<hr />

<address>
    ASP.NET Software<br />
    Address 00, 4500 Solothurn <br />
    <abbr title="Phone">P:</abbr>
    032 000 00 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:asp@asp.net">asp@asp.net</a><br />
</address>